header {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/blogcover.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    margin: 0px;
    }

nav {
    font-size: 1em;
    padding: 20px 0px 20px 0;
    background: #000000;
    display: inline-block;
    float: left;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    padding: 20px;
}

nav a:hover {
    background: #D0D0D0;
}

footer {
    padding: 20px 0px 20px 0;
    background: #000000;
    color: white;
    display: inline-block;
    width: 100%;
    font-size: .8em;
    text-align: center;
    clear:both;
}

nav, footer, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
  clear: both;
}

h2 {
  font-size: 1.5em;
}

#main {
  margin: 0;
  padding-top: 150px;
  color: white;
  clear: both;
  font-size: 200%;
}

body {
  margin: 0; 
  background: #e9e9e9;
}

.blog_post {
  display: inline;
  float: left;
  width: 65%;
  text-align: center;
}

article {
  position: relative;
  background: white;
  padding: 15px;
  margin: 30px 0px 30px 30px;
  width: 80%;
}

article img {
  width: 100%;
}

article span {
  color: #808080;
  font-size: 75%;
  text-align: left;
  float: left;
  margin-bottom: 15px;
}

article p {
  clear: both;
  text-align: left;
}

article a {
  background: #15adde;
  color: black;
  text-decoration: none;
  padding: 5px;
  margin-top: 15px;
  float:right;
  border-radius: 5px;
}

.sidebar {
  background: white;
  display: inline;
  float: right;
  width: 30%;
  text-align: center;
  margin: 30px 30px 0px 0px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 1.2em;
}

#useful_links a:hover {
  text-decoration: underline;
}

.sidebar ul {
  list-style-type: none;
  padding: 0px;
}

#follow a {
  font-size: 150%;
  padding: 5px;
}

#follow a:hover {
  background: grey;
}