header {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/skyline.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    margin: 0px;
    }

nav {
    font-size: 1em;
    padding: 20px 0px 20px 0;
    background: #000000;
    display: inline-block;
    float: left;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    padding: 20px;
}

nav a:hover {
    background: #D0D0D0;
}

footer {
    padding: 20px 0px 20px 0;
    background: #000000;
    color: white;
    display: inline-block;
    width: 100%;
    font-size: .8em;
    text-align: center;
    clear:both;
}

nav, footer, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin: 0;
  text-align: center;
  clear: both;
}

h2 {
  font-size: 1.5em;
}

#main {
  margin: 0;
  padding-top: 150px;
  color: white;
  clear: both;
  font-size: 200%;
}

body {
  margin: 0;
  background: white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  float:left;
  margin: 0 20px 10px 20px;300px;
  border-radius: 20%;
  height: 300px;
}

#who {
  margin: 40px 5px 20px 5px;
  padding: 0 20px 0 20px;
}

/** Timeline style**/
#experience {
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 100px 55px 20px 80px;
  color: #000000;
  display: block;
  clear: both;
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #000000;
}

#timeline li {
  margin: 40px 0;
  position: relative;
}

#timeline p {
  margin: 0 0 15px;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -200px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
  color: #000000;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #15adde;
  border: 5px solid #d5d5d5;
  border-radius: 50%;
  display: block;
  position: absolute;
}

label {
   font-family: 'Raleway', sans-serif;
   font-size: 1.5em;
}

/**Job Description style (before and after) */
.jobdescrip {
  max-height: 20px;
  padding: 50px 20px 0;
  border: 2px solid #15adde;
  border-radius: 20px;
  position: relative;
}

.jobdescrip:before, .jobdescrip:after {
  jobdescrip: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.jobdescrip:before {
  top: 50%;
  margin-top: -20px;
}
.jobdescrip:after {
  top: 50%;
  margin-top: -17px;
}
.jobdescrip p {
  color: transparent;
  max-height: 0;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
  letter-spacing: -1px;
}
label {
  font-size: 1.em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  left: 20px;
  transition: transform 0.2s linear;
}

/**When clicked animation **/
.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #000000;
}
.radio {
  display: none;
}
.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}

/**change circle color when clicked **/
.radio:checked + .relative .circle {
  background: #deeff5;
}

/** change content box size and color **/
.radio:checked ~ .jobdescrip {
  max-height: 180px;
  border-color: #636f83;
  background-color: rgba(21, 173, 222, 0.2);
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .jobdescrip p {
  max-height: 200px;
  color: black;
  transition: color 0.4s linear 0.4s;
}
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }
  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }
  .jobdescrip {
    padding-top: 45px;
    border-color: #636f83;
  }
  .jobdescrip:before, .jobdescrip:after {
    border: solid transparent;
    bottom: 100%;
  }
  .jobdescrip:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .jobdescrip:after {
    border-bottom-color: #636f83;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .jobdescrip p {
    font-size: 0.9em;
  }
  .circle, .date {
    display: none;
  }
}

#projects {
  margin-top: 100px;
  text-align: center;
  margin-left: -15px;
}

#projects ul {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
}

#projects li {
  margin: 20px;
  height: 200px;
  width: 200px;
  background: white;
  border: 2px solid #15adde;
  border-radius: 20px;
  background: #d0eff8;
  text-align: center;
  display: inline-block;
  float: left;
  box-shadow: 2px 2px 5px #15adde;
}

#projects img {
  width: 160px;
  height: 160px;
  margin: 10px 0 5px 0;
  border-radius: 10%;
  box-shadow: 2px 2px 5px grey;
}

#projects a {
  margin: 0;
  text-decoration: none;
  color: black;
}


#contact {
    margin: 100px 0px 20px 0px;
    text-align: center;
    clear:both;
}

.connect {
  width: 284px;
  height: 150px;
  border-radius: 50%;
  background: #15adde;
}

.fa {
 display: inline;
 font-size: 40px;
 padding: 15px;
}

#contact a {
  margin: 50px 0 50px 0;
  padding: 20px 0 5px 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#contact a:hover {
  text-decoration: underline;
}

.container {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding:  5px;
}

.container:hover {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}


.codelang {
  background-color: #15adde;
  color: black;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: -125px;
  left: 20%;
  width: 50%;
}
